* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    position: sticky;
    top: 0;
    background-color: White;
    padding: 0 1rem;
    text-transform: uppercase;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-flex;
    padding: 0 1rem;
}

header i {
    margin: 0 0.5rem;
}

header button {
    padding: 0.5rem 1rem;
    background-color: rgba(5, 5, 5, 0.6);
    box-shadow: 2px 2px 2px black;
    border: 0;
}

header button a {
    color: white;
    text-shadow: none;
}

/* Nav Menu */
.nav-menu {
    display: none;
}

.dropdown {
    display: inline;
    position: relative;
}

.dropbtn {
    font-size: 1rem;
}

.dropdown_content {
    display: none;
    position: absolute;
    margin: 1.5rem -5rem;
    box-shadow: 1px 1px 5px 1px black;
    background-color: white;
    padding: 1rem 0.5rem;
}

.dropdown_content a {
    display: flex;
    text-decoration: none;
    padding: 0.5rem 0;
    width: auto;
}

.dropdown:hover .dropdown_content {
    display: inline;
    cursor: pointer;
}

.dropdown_content:hover {
    display: inline;
}

/* Section 1 */
.section1 {
    background-color: rgba(198, 220, 186, 0.478);
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect1_div1 {
    width: 5%;
    font-size: 2rem;

}

.sect1_div1 i {
    margin: 0.5rem 1rem;
}

.sect1_div1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: White;
}

.sect1_div2 {
    width: 90%;
    text-align: center;
}

.sect1_div2 h1 {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}

.sect1_div2 p {
    width: 50%;
    margin: 2rem auto;
}

.sect1_div2 button {
    background-color: rgba(5, 5, 5, 0.4);
    box-shadow: 2px 2px 2px black;
    border: none;
    padding: 1rem 2.5rem;
    margin: 1rem;
}

.sect1_image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1PX black;
    margin: 1rem;
}

/* Section 2 */
.section2 {
    width: 90%;
    height: 90vh;
    text-align: center;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

.sect2_title {
    text-align: center;
}

.sect2_title img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: 1rem;
}

.sect2_title h2 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
}

.section2 div>p {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
}

/*  */
.info {
    width: 45%;
    margin: 1rem;
    height: 90%;
    overflow: scroll;
    background-color: rgba(198, 220, 186, 0.478);
}

.edu {
    width: 55%;
    margin: 1rem;
    height: 90%;
    background-color: rgba(198, 220, 186, 0.478);
    overflow: scroll;
}

table {
    margin: 2rem auto;
    text-align: left;
    width: 100%;
}

td {
    padding: 1rem;
    text-align: left;
}

table caption {
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
    padding-bottom: 1rem;
}

/* Section 3 */
.section3 {
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.section3 div>p {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
}

.certi {
    width: 55%;
    background-color: rgba(198, 220, 186, 0.478);
    margin: 1rem;
    padding: 1rem;
    overflow: scroll;
}

.certi li {
    padding: 1rem;
    list-style: none;
}

.skill {
    width: 45%;
    background-color: rgba(198, 220, 186, 0.478);
    margin: 1rem;
    padding: 1rem 2rem;
    overflow: scroll;

}

.skill button {
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    background-color: rgba(198, 220, 186, 0.478);
    border: none;
    box-shadow: 1px 1px 5px 1px black;
}

.skill i {
    margin: 0.1rem 0.5rem;
}

/* section 4 */
.section4 {
    width: 90%;
    margin: 2rem auto;

}

.section4>h2 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin: 2rem;

}

.sect4-img {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3rem;
}

.sect4-img div {
    box-shadow: inset 2px 2px 10px 5px white;
}

.section4 img {
    width: 40vw;
    height: 60vh;
    box-shadow: 1px 1px 10px 1px black;
}

.sect4-im {
    position: relative;
}

.sect4-text {
    display: none;
    position: absolute;
    padding: 1rem;
    height: 60vh;
    margin-top: -61vh;
    background-color: rgba(0, 0, 0, 0.893);
    color: white;
    width: 40vw;

}

.sect4-text h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.sect4-im:hover~.sect4-text {

    display: flex;
    flex-direction: column;
}

.sect4-text:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4 button {
    align-self: center;
    text-align: center;
    margin: 0.2rem;
    width: 7rem;
    padding: 0.5rem;
    background-color: rgb(252, 255, 252);
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.7);
}

/*  */



/* Section 5 */
.section5 {
    text-align: center;
    width: 90%;
    margin: auto;
    height: 90vh;
    margin: auto;
    padding: 2rem;
    background-color: rgba(198, 220, 186, 0.478);
}

.section5 h2 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
}

/* Tablet Screen */
@media screen and (max-width:768px) {
    header {
        padding: 0
    }

    header li {
        padding: 0 0.5rem;
    }

    .section1 {
        height: auto;
        padding: 1rem 0;
    }

    .sect1_div2 h1 {
        display: flex;
        flex-direction: column;
    }
}

/* Mobail Screen */
@media screen and (max-width:425px) {
    body {
        width: 96%;
        margin: auto;
    }

    .section1 {
        flex-direction: column;
    }

    .sect1_div1 {
        width: 90%;
    }

    .sect1_div1 div {
        flex-direction: row;
        height: auto;
    }

    header {
        padding: 1rem
    }

    .nav-menu {
        display: block;
    }


    .header_div2 {
        display: none;
    }

    .section2 {
        flex-direction: column;
        height: auto;
        margin: auto;
    }

    .info {
        width: 100%;
        margin: 1rem auto;
    }

    .edu {
        width: 100%;
        margin: 1rem auto;
    }

    .section3 {
        flex-direction: column;
        height: auto;
    }

    .sect4-img {
        display: grid;
        grid-template-columns: auto;
        row-gap: 3rem;
    }

    .sect4-img img {
        width: 90vw;
        margin: auto;
    }

    .sect4-text {
        width: 90vw;
    }

    .certi {
        width: 100%;
        margin: 1rem auto;
    }

    .skill {
        width: 100%;
        margin: 1rem auto;
    }

    .section5 {
        height: auto;
    }
}